<!doctype html>
<html>
<head>
    <title>Add Stock Symbol</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center" style="width:70%">
                <h2>Add Ticker To Watchlist</h2>

                <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                <% } %>

                <!-- LOGIN FORM -->
                <form action="/add" method="post">
                                        <center>
                    <div class="form-group" style="font-size:14px;">
                        <table border=0>
                            <tr>
                                <td>Symbol:</td>
                                <td><input type="text" style="height:25px;" class="form-control" name="symbol"></td>
                            </tr>
                            <tr>
                                <td>Purchase Price:</td>
                                <td><input type="text" style="height:25px;" class="form-control" name="purchasePrice"></td>
                            </tr>
                            <tr>
                                <td>Quantity:</td>
                                <td><input type="text" style="height:25px;" class="form-control" name="qty"></td>
                            </tr>
                        </table>
                    </div>

                        <a href="/edit" style="width:100px" class="btn btn-default btn-sm">Cancel</a>
                        <button type="submit" style="width:100px;" class="btn btn-default btn-sm">Ok</button>
                    </center>
                </form>

            </div>
        </div>
</body>
</html>