<!doctype html>
<html>
<head>
    <title>Stock Streamer Application</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center" style="width:70%">
        <h2>Stock Streamer Application</h2>

        <p>Login or Register with:</p>

        <a href="/login" style="width:100px;" class="btn btn-default btn-sm"></span>Login</a>
        <a href="/signup" style="width:100px;" class="btn btn-default btn-sm"></span>Register</a>
    </div>

</div>
</body>
</html>