<!doctype html>
<html>
<head>
    <title>My Watch List</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center" style="width:70%">
        <h2>Watchlist</h2>
        <a href="/" style="width:100px;" class="btn btn-default btn-sm">Home</a>
        <a href="/edit" style="width:100px;" class="btn btn-default btn-sm">Edit Watchlist</a>
        <a href="/logout" style="width:100px;" class="btn btn-default btn-sm">Logout</a>
        </br>
        </br>
        <% if (watchlist && watchlist.length > 0){ %>
        <table border=2 width="100%" id="stocktable">
            <th width="15%">Ticker</th>
            <th width="55%">Name</th>
            <th>Price</th>
        <%   for( var i = 0; i < watchlist.length; i++) { %>
        <%       var stock = watchlist[i]; %>
            <tr>
                <td align='left'><span class="fa"><%= stock.symbol %></span></td>
                <td align='left'><span class="fa"><%= stock.name %></span></td>
                <td align='left'><span class="fa"><%= stock.lastTradePriceOnly %> (<%=stock.changeInPercent.toFixed(4)%>%)</span></td>
            </tr>               
        <%   } %>
        <% } %>
    </div>

</div>
</body>
<script src="/js/index.js"></script>
</html>